@import "tailwindcss";
@plugin "daisyui";

@keyframes loadingBar {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(320%);
    }
}

.animate-loadingBar {
    animation: loadingBar 1.2s ease-in-out infinite;
}

/* Add product swal */
.swal-actions-compact {
    gap: 8px !important;
}

.swal-btn {
    padding: 6px 14px !important;
    font-size: 13px !important;
    border-radius: 6px !important;
}

.swal-btn-outline {
    padding: 6px 14px !important;
    font-size: 13px !important;
    border-radius: 6px !important;
    background: white !important;
    color: #1F2937 !important;
    border: 1px solid #1F2937 !important;
}

.swal-btn-light {
    padding: 6px 14px !important;
    font-size: 13px !important;
    border-radius: 6px !important;
}