@import "tailwindcss";
@plugin "daisyui";

@keyframes loadingBar {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(320%);
    }
}

.animate-loadingBar {
    animation: loadingBar 1.2s ease-in-out infinite;
}